
<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="d-flex justify-content-between" data-controller="insert-in-list">
    <div id="houses" data-insert-in-list-target="items">
      <% @houses.reverse.each do |house| %>
        <%= render house %>
      <% end %>
    </div>

    <div class="form w-25" >
      <%= render "form", house: @house %>
    </div>
  </div>

</div>
